@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  color: white;
}


.main-container{
  background-image: url("https://files.oaiusercontent.com/file-SEcggAQB3g1neeppfCJEfs?se=2025-02-28T15%3A52%3A23Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Df41beede-10f9-4998-b9b0-2ec6a5b8ee91.webp&sig=5fRlb2tCjdBJ8QYcEDwhPy8J68N4hz0kudSfxO2MiOc%3D");
  background-size: cover;
  margin: 0 auto;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 1200px;
  height: 600px;
}

.header{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.search-container{
  position: relative;
}

.search-bar {
  padding: 8px 8px 8px 35px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
}

.onglets{
  display: flex;
  gap: 20px;
  font-family: 'Poppins';
  font-size: 21px;
  margin-left: 40px;
  text-shadow: 1.95px 1.95px 2.6px black;
}

.avatar{
  margin-right: 40px;
}

.btn-primary{
  border-radius: 40px;
  padding: 15px;
  border: none;
  background-color: black;
}

.title-container{
  margin-left: 40px;
  margin-top: 140px;
}

.title-container h1{
  font-size: 48px;
  font-family: 'Poppins';
  text-shadow: 1.95px 1.95px 2.6px black;
}


.text-btn{
  text-decoration: none;
  color: white;
}

.dashboard{
  text-decoration: none;
}

.img{
  width: 200px;
}
